* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'lato';
    background-color: black;
    height: 100vh;
}

h1 {
    color: white;
    font-size: 72px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 40vh;
    text-shadow: 0 0 10px rgba(225, 225, 225, .35);
    z-index: 9999;
}

#bg {
    position: absolute;
    top: 0;
    left: o;
    bottom: 0;
    right: 0;
    z-index: -1;
}